@page
@model AutomatonsModel
@{
    ViewData["Title"] = "Заказ кофейных и снековых автоматов";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Заказ кофейных и снековых автоматов</a>
    </li>
    <li class="breadcrumb-item">
        <a href="index.html">Кофейные и снековые автоматы</a>
    </li>
</ul>
<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>
<div class="content-i">
    <div class="content-box" style="padding-top: 1em;">
        @*<div style="padding-bottom: 1.5em;">
            <strong></strong>
        </div>*@
        <div class="alert alert-info" role="alert">
            Выберите автомат и предложение поставщика для заказа товара. Укажите количество автоматов для оформления заявки.
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="element-wrapper">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        Список автоматов
                    </h6>
                    <div class="element-box">
                        <div style="padding: 0 1em;">
                            <input class="form-control form-control-sm rounded" placeholder="Поиск по товарам..." type="text" style="margin-bottom: 1em;">
                        </div>

                        <div class="table-responsive" style="height: 32em; overflow: auto;">
                            <table class="table table-lightborder table-hover table-sm fixed-tr-height">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat1.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кофейный автомат <br /> Bianchi BVM 951
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat2.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кофейный автомат<br /> Saeco Cristallo 600
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat3.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Снековый автомат<br /> Crane Snack Center 167
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat4.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Снековый автомат<br />
                                            Unicum FoodBox Long
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat5.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm" style="background: #eee;">
                                            Кофейный автомат<br />
                                            Brio 3 ES6
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat6.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кофейный автомат<br />
                                            BIANCHI LEI 400
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat7.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кофейный автомат<br />
                                            Saeco Diamante
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat8.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Снековый автомат<br />
                                            Saeco BP 36
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat9.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Снековый автомат<br />
                                            FAS «Krystal»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img automat-size" style="background-image: url(img/products/automat10.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кофейный автомат<br />
                                            Saeco Cristallo 600
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="element-wrapper" style="padding-bottom: 0;">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        Предложения поставщиков
                    </h6>
                    <div class="element-box" style="height: 18.85em;">
                        <div style="margin: 0 0 1em 0em;">
                            <span>Путассу сушеная соленая с перцем</span>
                            <select class="form-control form-control-sm rounded" style="width: 20em;float: right;">
                                <option selected="selected" value="">
                                    Точка доставки...
                                </option>
                                <option value="Pending" selected="selected">
                                    Основной склад
                                </option>
                                <option value="Active">
                                    Склад #2
                                </option>
                                <option value="Cancelled">
                                    Склад #3
                                </option>
                            </select>
                        </div>

                        <div class="table-responsive">
                            <table id="editableTable" class="table table-lightborder table-hover table-sm fixed-tr-height table-editable">
                                <thead>
                                    <tr>
                                        <th class="">
                                            Поставщик
                                        </th>
                                        <th class="text-center">
                                            Остаток
                                        </th>
                                        <th class="text-center">
                                            Цена
                                        </th>
                                        <th class="text-right">
                                            Заказ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Реликт»
                                        </td>
                                        <td class="text-center">
                                            10
                                        </td>
                                        <td class="text-center">
                                            115 800 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Лотос-Лэнд»
                                        </td>
                                        <td class="text-center">
                                            12
                                        </td>
                                        <td class="text-center">
                                            125 000 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Штраус»
                                        </td>
                                        <td class="text-center">
                                            5
                                        </td>
                                        <td class="text-center">
                                            128 999 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="element-wrapper">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        История заказов
                    </h6>
                    <div class="element-box" style="height: 14.25em;">
                        <div class="table-responsive">
                            <table class="table table-lightborder table-hover table-sm fixed-tr-height">
                                <thead>
                                    <tr>
                                        <th>
                                            Поставщик
                                        </th>
                                        <th class="text-center">
                                            Дата заказа
                                        </th>
                                        <th class="text-center">
                                            Цена
                                        </th>
                                        <th class="text-right">
                                            Количество
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Реликт»
                                        </td>
                                        <td class="text-center">
                                            19.02.2018
                                        </td>
                                        <td class="text-center">
                                            231 600 руб.
                                        </td>
                                        <td class="text-right">
                                            2
                                        </td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Лотос-Лэнд»
                                        </td>
                                        <td class="text-center">
                                            29.02.2018
                                        </td>
                                        <td class="text-center">
                                            125 000 руб.
                                        </td>
                                        <td class="text-right">
                                            1
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>