@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Заказ товаров</a>
    </li>
    <li class="breadcrumb-item">
        <a href="index.html">Товары</a>
    </li>
</ul>
<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>
<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-5">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Список товаров
                    </h6>
                    <div class="element-box">
                        <div class="table-responsive">
                            <table class="table table-lightborder table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            Customer
                                        </th>
                                        <th class="text-center">
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            John Mayers
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kelly Brans
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tim Howard
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Joe Trulli
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fred Kolton
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="col-sm-7">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Предложения поставщиков
                    </h6>
                    <div class="element-box">
                        <div class="table-responsive">
                            <table class="table table-lightborder table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Products Ordered
                                        </th>
                                        <th class="text-center">
                                            Status
                                        </th>
                                        <th class="text-right">
                                            Order Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="nowrap">
                                            John Mayers
                                        </td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/portfolio9.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio2.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio12.jpg)"></div>
                                                <div class="cell-img-more">
                                                    + 5 more
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                        <td class="text-right">
                                            $354
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="nowrap">
                                            Kelly Brans
                                        </td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/portfolio14.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio8.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip"></div>
                                        </td>
                                        <td class="text-right">
                                            $94
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="nowrap">
                                            Tim Howard
                                        </td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/portfolio16.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio14.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio5.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                        <td class="text-right">
                                            $156
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="nowrap">
                                            Joe Trulli
                                        </td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/portfolio1.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio5.jpg)"></div>
                                                <div class="cell-img" style="background-image: url(img/portfolio6.jpg)"></div>
                                                <div class="cell-img-more">
                                                    + 2 more
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip"></div>
                                        </td>
                                        <td class="text-right">
                                            $1,120
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="nowrap">
                                            Jerry Lingard
                                        </td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/portfolio9.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                                        </td>
                                        <td class="text-right">
                                            $856
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>