@page
@model IndexModel
@{
    ViewData["Title"] = "Заказ товаров";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Заказ товаров</a>
    </li>
    <li class="breadcrumb-item">
        <a href="index.html">Товары</a>
    </li>
</ul>
<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>
<div class="content-i">
    <div class="content-box" style="padding-top: 0em;">
        <div style="padding-bottom: 1em;">
            <strong>Выберите товар и предложение поставщика для заказа товара. Укажите количество товара для оформления заявки.</strong>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="element-wrapper">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        Список товаров
                    </h6>
                    <div class="element-box">
                        <div style="padding: 0 1em;">
                            <input class="form-control form-control-sm rounded" placeholder="Поиск по товарам..." type="text" style="margin-bottom: 1em;">
                        </div>

                        <div class="table-responsive" style="height: 32em; overflow: auto;">
                            <table class="table table-lightborder table-hover table-sm fixed-tr-height">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/3korochki.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Сухарики "3 корочки", пшеничные, золотистые, 50 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/bogucharochka.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Семечки подсолнечные жареные "Богучарочка", 40 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/mclars.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Картофельные чипсы ТМ "McLar's", рифленые, 75г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/blockbuster.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Попкорн ТМ Blockbuster Экстра масло, 3 шт
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/putassu.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm" style="background: #eee;">
                                            Путассу сушеная соленая с перцем, 35 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/hrusteam.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Сухарики воздушные ТМ Хрус Теам со вкусом краба, 4 шт
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/coruza.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Кукуруза тм "Coruza" с солью, 100 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/freshbox.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Батончик глазированный мюсли ТМ "Fresh Box", 37г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/alians.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Семечки подсолнечника жареные ТМ "Альянс", 400г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/sultan.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Семена подсолнечника жареные, ТМ "Sultan", 100 г
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="cell-image-list">
                                                <div class="cell-img" style="background-image: url(img/products/healthy.jpg)"></div>
                                            </div>
                                        </td>
                                        <td class="font-sm">
                                            Сухарики-гренки "HEALTHY", 100 г
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="element-wrapper" style="padding-bottom: 0;">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        Предложения поставщиков
                    </h6>
                    <div class="element-box" style="height: 18.85em;">
                        <div style="margin: 0 0 1em 0em;">
                            <span>Путассу сушеная соленая с перцем</span>
                            <select class="form-control form-control-sm rounded" style="width: 20em;float: right;">
                                <option selected="selected" value="">
                                    Точка доставки...
                                </option>
                                <option value="Pending" selected="selected">
                                    Основной склад
                                </option>
                                <option value="Active">
                                    Склад #2
                                </option>
                                <option value="Cancelled">
                                    Склад #3
                                </option>
                            </select>
                        </div>

                        <div class="table-responsive">
                            <table id="editableTable" class="table table-lightborder table-hover table-sm fixed-tr-height table-editable">
                                <thead>
                                    <tr>
                                        <th class="">
                                            Поставщик
                                        </th>
                                        <th class="text-center">
                                            Остаток
                                        </th>
                                        <th class="text-center">
                                            Цена
                                        </th>
                                        <th class="text-right">
                                            Заказ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Штраус»
                                        </td>
                                        <td class="text-center">
                                            120
                                        </td>
                                        <td class="text-center">
                                            75,6 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Фирма ВАЛЕО»
                                        </td>
                                        <td class="text-center">
                                            240
                                        </td>
                                        <td class="text-center">
                                            76,1 руб.
                                        </td>
                                        <td class="text-right">15</td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Лотос-Лэнд»
                                        </td>
                                        <td class="text-center">
                                            180
                                        </td>
                                        <td class="text-center">
                                            76,4 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Реликт»
                                        </td>
                                        <td class="text-center">
                                            750
                                        </td>
                                        <td class="text-center">
                                            77,2 руб.
                                        </td>
                                        <td class="text-right"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="element-wrapper">
                    <h6 class="element-header" style="margin-bottom: 1em;">
                        История заказов
                    </h6>
                    <div class="element-box" style="height: 14.25em;">
                        <div class="table-responsive">
                            <table class="table table-lightborder table-hover table-sm fixed-tr-height">
                                <thead>
                                    <tr>
                                        <th>
                                            Поставщик
                                        </th>
                                        <th class="text-center">
                                            Дата заказа
                                        </th>
                                        <th class="text-center">
                                            Цена
                                        </th>
                                        <th class="text-right">
                                            Количество
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Штраус»
                                        </td>
                                        <td class="text-center">
                                            15.02.2018
                                        </td>
                                        <td class="text-center">
                                            1512 руб.
                                        </td>
                                        <td class="text-right">
                                            20
                                        </td>
                                    </tr>
                                    <tr class="font-sm">
                                        <td class="nowrap">
                                            ООО «Фирма ВАЛЕО»
                                        </td>
                                        <td class="text-center">
                                            10.02.2018
                                        </td>
                                        <td class="text-center">
                                            761 руб.
                                        </td>
                                        <td class="text-right">
                                            10
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>