@page
@model VendingExpress.Web.Pages.WaybillsModel
@{
    ViewData["Title"] = "Накладные";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Накладные</a>
    </li>
</ul>